{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/icon.png' %}">
      <link rel="stylesheet" href="{% static 'css/style1.css' %}">
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <title>Contact-Expense Tracker</title>
  </head>
  <body>
    <!-- Navigation Starts -->
    <nav class="navbar navbar-dark navbar-expand-md">
		<div class="container">
            <img class="img-fluid mx-2" src="{% static 'img/logo.png' %}">
			<a href="index.html" class="navbar-brand">Expense Tracker</a>
			<button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div id="navbarNav" class="collapse navbar-collapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'home_page' %}">Home</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'contact_page' %}">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

    <!-- Home cover -->
	<section id="pagecover" class="text-center text-light">
		<div class="container">
			<div class="row">
                <div class="col rounded mt-5">
                    <form class="form" action="https://formspree.io/mdsakhidar@gmail.com" method="POST">
                        <h2 class="text-light">Please Fill up this form to contact us</h2>
                        <div class="mt-5">
                            <input type="text" name="name" class="form-control w-100 ml-0" placeholder="Full name">
                            <input type="email" name="email" class="form-control mt-3 w-100 ml-0" placeholder="Email">
                            <input type="text" name="contact" class="form-control mt-3 w-100 ml-0" placeholder="Phone number">
                            <textarea class="form-control my-3" name="message" cols="30" rows="5" placeholder="Message"></textarea>
                            <button type="submit" class="btn btn-warning"><strong>Submit</strong></button>
                        </div>
                    </form>
                </div>
			</div>
		</div>
	</section>

    <!-- Forms -->



    <!-- Footer -->
	<section id="homefooter" class="py-3 text-center text-light">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="lead">Copyright 2019 &copy; <a href="https://sadequlislam.000webhostapp.com/" class="text-warning" target="_blank">Md. Sadequl Islam</a></p>
				</div>
			</div>
		</div>
	</section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>