body{
    font-family: 'Open Sans', sans-serif;
}
.nav-item{
	padding-left: 1em !important;
}
.nav-link{
	text-transform: uppercase;
}
.navbar{
	background: #000;
    height: 70px;
}
.navbar img{
    height: 40px;
    width: 40px;
}

#pagecover{
	background: url('../img/cover2.jpg');
	background-size: cover;
	height: 600px;
	background-attachment: fixed;
    position: relative;
    margin: 0 auto;

}

#pagecover .col{
    position: absolute;
    top: 0;
    width: 50%;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    padding: 20px; /* Some padding */
    text-align: center;
    margin-left: 18%;
}

#pagecover input{
    width: 60%;
    margin-left: 20%;
}

#pagecover button{
    width: 30%;
}


#homefooter{
	background: #000;
}